# Azure OpenAI
AZURE_OPENAI_API_KEY=xxxxxxxxxxxx
AZURE_OPENAI_ENDPOINT=https://xxxxx-xxxx-xx.openai.azure.com/openai/v1
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_API_VERSION=2024-08-01-preview

# Azure AI Content Safety
AZURE_CONTENT_SAFETY_KEY=your_key_here
AZURE_CONTENT_SAFETY_ENDPOINT=https://xxxxxxx-xxxxx.cognitiveservices.azure.com/

# App
PORT=8xxx
